:root{
    --main-color:#757575;
    --second-color:#212121;
    --third-color:#FFFFFF;    
    --accent-color:#2196F3;
    --logo-color:#000000;
    --hero-bckgd-color:#2F303A;
    --hero-btn-color:#188CE8;
    --bckgd-color:#F5F4FA;
    --foot-item-color:rgba(255, 255, 255, 0.6);
}

body {
    font-family: Roboto, Sans-serif;    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color:var(--third-color);
}

.link {
    text-decoration:none;
    font-style: normal;
}

.list {
    list-style: none;
}

.btn {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*-------- Index  ------------------*/

.logo{
    font-family: 'Raleway', Sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo2{
    color: var(--logo-color);
}

.logo3{
    color: var(--third-color);
}

.hearder-list-item {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-color);
}

.hearder-list-item:hover,
.hearder-list-item:focus,
.hearder-list-item:active {
    color: var(--accent-color);
}

.hearder-cont-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.hearder-cont-item:hover,
.hearder-cont-item:focus {
    color: var(--accent-color);
}

.hero {
    background-color: var(--hero-bckgd-color);
}

.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    letter-spacing: 0.06em;
    color: var(--third-color);      
    background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hero-btn-color);
}

.our-benefits-list-header {
    font-weight: 700;  
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-color);
}

.our-work-hearder {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color:var(--second-color);
}

.team{
    background: var(--bckgd-color);
}

.team-hearder {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--second-color);
}

.team-list-hearder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-color);
}

.team-list-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

footer {
    background-color:var(--hero-bckgd-color);
}

address{
    font-style: normal;
}

.footer-adress {
    color: var(--third-color);  
}

.footer-item {
    color: var(--foot-item-color);
}

.footer-item:hover,
.footer-item:focus {
    color: var(--accent-color);
}



/*-------- Portfolio ------------------*/

.filters-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color:var(--second-color);
    background: var(--bckgd-color);
    border-radius: 4px;
}

.filters-item:hover,
.filters-item:focus {
    color: var(--third-color);
    background-color: var(--accent-color);
}

.portfolio-item-hearder {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-color);
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.88;
}